.panel {
  /* min-height: 100%; */
  width: 48vw;
  max-width: 43rem;
  flex: 0 0 auto;
  position: sticky;
  padding-block: 2.25rem;
  padding-inline: 3rem;
  display: flex;
  flex-direction: column;
  gap: 4.5rem;

  justify-content: space-between;
  overflow-x: hidden;
  overflow-y: auto;
  /* background: rgba(32, 32, 32, 1); */
  background: #121212;
  /* backdrop-filter: blur(12px); */
  box-shadow: -6px 0px 12px 0px rgba(0, 0, 0, 0.15);
}

.panelIntro > * + * {
  margin-top: 0.5rem;
}

.introContentWrapper {
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
}

/* .panel::after {
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  background: rgba(6, 6, 6, 0.1);
  backdrop-filter: blur(12px);
} */

/* --- */

.basePanel {
  height: 100%;
  width: 48vw;
  max-width: 43rem;
  flex: 0 0 auto;
  position: sticky;
  padding-block: 2.25rem;
  padding-inline: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
  overflow-y: auto;
}

.basePanel {
  padding-top: 3.25rem;
}

.panelFooter {
  display: flex;
  justify-content: space-between;
}

.categoryButton {
  display: flex;
  gap: 1rem;
  margin-right: 3.25rem;
  padding: 1rem 2rem 1rem 0;
  border-radius: var(--border-radius-sm);
  border: 1px solid transparent;
  cursor: pointer;
  transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 250ms;
}

.categoryButton:hover {
  border: 1px solid var(--color-gray-50);
  padding: 1rem;
}

.categoryButtonIcon {
  align-self: center;
  aspect-ratio: 1/1;
}
