.panel {
  /* min-height: 100%; */
  width: 48vw;
  max-width: 43rem;
  flex: 0 0 auto;
  position: sticky;
  padding-block: 2.25rem;
  padding-inline: 3rem;
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
  border-radius: 1rem;
  justify-content: space-between;
  overflow-x: hidden;
  overflow-y: auto;
  background: rgba(18, 18, 18, 0.5);
  backdrop-filter: blur(32px);
  box-shadow: -6px 0px 12px 0px rgba(0, 0, 0, 0.15);
}

.panelIntro > * + * {
  margin-top: 0.5rem;
}

.introContentWrapper {
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
}

/* .panel::after {
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  background: rgba(18, 18, 18, 0.1);
  backdrop-filter: blur(1px);
} */
