.externalLink {
  display: flex;
  position: relative;
  align-items: center;
  padding: 0.25rem 0.5rem;
  background: var(--color-element-background);
  border: var(--element-border);
  border-radius: var(--border-radius-sm);
  transition: background, scale var(--transition-timing-short) var(--transition-bounce);
  color: var(--color-text-primary);
}

.externalLink:hover {
  background: var(--color-element-hover);
}

.linkFavicon {
  aspect-ratio: 1/1;
  border-radius: 0.25rem;
  width: 1.125rem;
  overflow: hidden;
  position: relative;
  pointer-events: none;
  margin-right: 0.5rem;
}
