.externalLink {
  display: flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  border-radius: var(--border-radius-sm);
  background: var(--color-element-background);
  transition: background, scale 100ms var(--transition-bounce);
}

.externalLink > * + * {
  margin-left: 0.5rem;
}

.externalLink > p {
  color: var(--color-text-primary);
}

.externalLink:hover {
  background: var(--color-element-hover);
}

.externalLinkPressed {
  scale: 0.96;
}

.linkFavicon {
  aspect-ratio: 1/1;
  border-radius: 0.25rem;
  width: 1.125rem;
  overflow: hidden;
  position: relative;
}
