.externalLink {
  display: flex;
  align-items: center;
  padding: 0.375rem;
  border-radius: 0.5rem;
  background: var(--color-chip-background);
  transition: background var(--transition-timing) var(--transition-ease);
}

.externalLink > * + * {
  margin-left: 0.75rem;
  padding-right: 0.475rem;
}

.externalLink:hover {
  background: var(--color-grey-50);
}

.linkThumbnail {
  background: grey;
  aspect-ratio: 1/1;
  border-radius: 0.25rem;
  width: 1.125rem;
}
