:root {
  --font-family: -apple-system, BlinkMacSystemFont, sans-serif;

  --base-unit: 0.5rem;
  --spaceIncrement: 2;

  /* spacing */
  --space-sm: var(--base-unit);
  --space-md: calc(var(--base-unit) * var(--spaceIncrement));
  --space-lg: calc(var(--space-md) * var(--spaceIncrement));
  --space-xl: calc(var(--space-lg) * var(--spaceIncrement));
  --space-2xl: calc(var(--space-xl) * var(--spaceIncrement));
  --space-3xl: calc(var(--space-2xl) * var(--spaceIncrement));
  --space-4xl: calc(var(--space-3xl) * var(--spaceIncrement));
  --space-5xl: calc(var(--space-4xl) * var(--spaceIncrement));

  /* font-size */
  --caption: clamp(12px, calc(14px + (14 - 12) * ((100vw - 320px) / (1920 - 320))), 14px);
  --line-height-xs: calc(var(--base-unit) * 2);

  --body: clamp(16px, calc(16px + (17 - 16) * ((100vw - 320px) / (1920 - 320))), 17px);
  --line-height-sm: calc(var(--base-unit) * 3);

  --headline: clamp(17px, calc(20px + (24 - 20) * ((100vw - 320px) / (1920 - 320))), 20px);

  --line-height-md: calc(var(--base-unit) * 4);

  --title: clamp(24px, calc(28px + (32 - 28) * ((100vw - 320px) / (1920 - 320))), 32px);
  --line-height-lg: calc(var(--base-unit) * 5);

  --large-title: clamp(36px, calc(44px + (52 - 44) * ((100vw - 320px) / (1920 - 320))), 44px);
  --line-height-xl: calc(var(--base-unit) * 6);

  --color-body: #0c0c0c;
  /* --color-body: #050505; */
  --color-text-primary: #e0e0e0;
  --color-text-secondary: #8d8d92;
  --color-text-tertiary: #47474a;
  --color-chip-background: #202020;

  /* font-weight */
  --font-weight-300: 300;
  --font-weight-400: 390;
  --font-weight-600: 590;
  --font-weight-700: 700;
  --font-weight-800: 800;
  --font-weight-900: 900;

  /* border-radius */
  --border-radius-xs: calc(var(--base-unit) / 2);
  --border-radius-sm: var(--base-unit);
  --border-radius-md: calc(var(--base-unit) / 2 * 3);
  --border-radius-lg: calc(var(--base-unit) * 2);

  /* breakpoints */
  --breakpoint-mobile-sm: 320px;
  --breakpoint-mobile-md: 375px;
  --breakpoint-mobile-lg: 425px;
  --breakpoint-tablet: 768px;
  --breakpoint-laptop: 1024px;
  --breakpoint-laptop-lg: 1440px;
  --breakpoint-4k: 2560px;

  --gray-hue: 0;
  --gray-saturation: 0%;

  --color-gray-0: hsl(var(--gray-hue), var(--gray-saturation), 100%);
  --color-gray-5: hsl(var(--gray-hue), var(--gray-saturation), 92%);
  --color-gray-10: hsl(var(--gray-hue), var(--gray-saturation), 80%);
  --color-gray-20: hsl(var(--gray-hue), var(--gray-saturation), 64%);
  --color-gray-30: hsl(var(--gray-hue), var(--gray-saturation), 48%);
  --color-gray-40: hsl(var(--gray-hue), var(--gray-saturation), 38%);
  --color-gray-50: hsl(var(--gray-hue), var(--gray-saturation), 25%);
  --color-gray-60: hsl(var(--gray-hue), var(--gray-saturation), 20%);
  --color-gray-70: hsl(var(--gray-hue), var(--gray-saturation), 15%);
  --color-gray-75: hsl(var(--gray-hue), var(--gray-saturation), 10%);
  --color-gray-80: hsl(var(--gray-hue), var(--gray-saturation), 8%);
  --color-gray-85: hsl(var(--gray-hue), var(--gray-saturation), 5%);
  --color-gray-90: hsl(var(--gray-hue), var(--gray-saturation), 3%);
  --color-gray-95: hsl(var(--gray-hue), var(--gray-saturation), 2%);
  --color-gray-100: hsl(var(--gray-hue), var(--gray-saturation), 0%);

  background: var(--color-body);
  color: var(--color-text-primary);
}

a {
  text-decoration: none;
}
