:root {
  --font-family: -apple-system, BlinkMacSystemFont, sans-serif;

  /* font-weight */
  --font-weight-300: 320;
  --font-weight-400: 390;
  --font-weight-600: 500;
  --font-weight-700: 600;
  --font-weight-800: 800;
  --font-weight-900: 900;

  /* border-radius */
  --border-radius-xs: 0.25rem;
  --border-radius-sm: 0.5rem;
  --border-radius-md: 0.75rem;
  --border-radius-lg: 1rem;

  /* breakpoints */
  --breakpoint-mobile-sm: 320px;
  --breakpoint-mobile-md: 375px;
  --breakpoint-mobile-lg: 425px;
  --breakpoint-tablet: 768px;
  --breakpoint-laptop: 1024px;
  --breakpoint-laptop-lg: 1440px;
  --breakpoint-4k: 2560px;

  /* color */
  --color-text-primary: #dcdcdc;
  --color-text-secondary: #8d8d92;
  --color-text-tertiary: #47474a;
  --color-link-blue: #2997ff;
  --color-element-background: var(--color-grey-60);
  --color-element-hover: var(--color-grey-50);
  --color-element-pressed: var(--color-grey-60);

  --grey-hue: 0;
  --grey-saturation: 0%;

  --color-grey-0: hsl(var(--grey-hue), var(--grey-saturation), 100%);
  --color-grey-5: hsl(var(--grey-hue), var(--grey-saturation), 92%);
  --color-grey-10: hsl(var(--grey-hue), var(--grey-saturation), 80%);
  --color-grey-20: hsl(var(--grey-hue), var(--grey-saturation), 64%);
  --color-grey-30: hsl(var(--grey-hue), var(--grey-saturation), 48%);
  --color-grey-40: hsl(var(--grey-hue), var(--grey-saturation), 38%);
  --color-grey-50: hsl(var(--grey-hue), var(--grey-saturation), 20%);
  --color-grey-60: hsl(var(--grey-hue), var(--grey-saturation), 15%);
  --color-grey-64: hsl(var(--grey-hue), var(--grey-saturation), 13.5%);
  --color-grey-65: hsl(var(--grey-hue), var(--grey-saturation), 10.5%);
  --color-grey-70: hsl(var(--grey-hue), var(--grey-saturation), 10%);
  --color-grey-75: hsl(var(--grey-hue), var(--grey-saturation), 9%);
  --color-grey-80: hsl(var(--grey-hue), var(--grey-saturation), 8%);
  --color-grey-85: hsl(var(--grey-hue), var(--grey-saturation), 7%);
  --color-grey-90: hsl(var(--grey-hue), var(--grey-saturation), 3%);
  --color-grey-95: hsl(var(--grey-hue), var(--grey-saturation), 2%);
  --color-grey-100: hsl(var(--grey-hue), var(--grey-saturation), 0%);

  /* transitions */
  --transition-timing-short: 100ms;
  --transition-timing: 150ms;
  --transition-timing-long: 300ms;
  --transition-ease: ease-in-out;
  --transition-bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275);

  background: var(--color-grey-85);
  color: var(--color-text-primary);
}

/* typography */
h1,
h2,
h3,
h4,
h5 {
  letter-spacing: -0.025rem;
  line-height: 1.4rem;
}

h1 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: var(--font-weight-600);
  line-height: 2.375rem;
}

h2 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: var(--font-weight-600);
  line-height: 1.875rem;
}

h2 + h3 {
  margin-top: 1.5rem;
}

h3 {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: var(--font-weight-700);
}

h4 {
  font-size: 1rem;
  font-style: normal;
  font-weight: var(--font-weight-300);
}

h5,
p {
  font-size: 1rem;
  font-style: normal;
  font-weight: var(--font-weight-400);
  line-height: 1.4rem;
  color: var(--color-text-secondary);
}

h6 {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: var(--font-weight-300);
  line-height: 1.125rem;
}

p + p {
  margin-top: 1rem;
}

em {
  font-style: italic;
}

strong {
  font-weight: var(--font-weight-400);
  color: var(--color-text-primary);
}

pre {
  margin-block: 1.5rem;
}

span {
  padding: none;
  margin: none;
}

code {
  font-family: var(--font-family) !important;
  background-color: var(--color-grey-64) !important;
}

/* buttons & links */
a {
  color: #2997ff;
  text-decoration: none;
}

button {
  all: unset;
}

img {
  max-width: 100%;
  border-radius: 0.25rem;
}

/* misc */
::selection {
  background: var(--color-text-primary);
  color: #000;
}

::-moz-selection {
  background: var(--color-text-primary);
  color: #000;
}

hr {
  border: 0.5px solid var(--color-element-background);
  margin-block: 2rem;
}

/* panel transitions */
.panel-transition-enter {
  opacity: 0;
  transform: scale(0.9);
}

.panel-transition-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 250ms, transform 250ms;
}

.panel-transition-exit {
  opacity: 1;
  transform: scale(1);
}

.panel-transition-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: all 50ms;
}
