.main {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  /* justify-content: center; */
}

.basePanel {
  height: 100%;
  width: 48vw;
  max-width: 42rem;
  flex: 0 0 auto;
  position: sticky;
  padding-block: 2.25rem;
  padding-inline: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
  overflow-y: auto;
}

.basePanel {
  padding-top: 3.25rem;
}

.introContentWrapper {
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
}

.panelFooter {
  display: flex;
  justify-content: space-between;
}

.categoryButton {
  display: flex;
  gap: 1rem;
  margin-right: 2rem;
  /* width: 80%; */
  /* todo: adjust right margin */
  padding: 1rem 1rem 1rem 0;
  border-radius: var(--border-radius-sm);
  border: 1px solid transparent;
  cursor: pointer;
  transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 250ms;
}

.categoryButton:hover {
  border: 1px solid var(--color-gray-50);
  padding: 1rem;
}

.categoryButtonIcon {
  align-self: center;
  aspect-ratio: 1/1;
}

.panelIntro > * + * {
  margin-top: 0.5rem;
}
