.categorySection {
  margin-top: 1rem;
}

.categoryButton {
  display: flex;
  width: calc(100% - 2rem);
  gap: 1rem;
  padding: 1rem 1.25rem 1rem 0;

  border-radius: var(--border-radius-md);
  border: 1px solid transparent;
  cursor: pointer;
  transition: padding 250ms var(--transition-bounce);
}

.categoryButton:hover {
  background: #1e1e1e;
  padding: 1rem 1.25rem;
}

.categoryButtonIcon {
  align-self: center;
  width: 1.5rem;
  aspect-ratio: 1/1;
  position: relative;
}

.panelFooter {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

/* --- */

.externalLinkList {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-element-background);
}

.resumeSection {
  margin-top: 3rem;
}

.resumeSection > h2 {
  margin-bottom: 0.75rem;
}

.resumeSubsection + .resumeSubsection {
  margin-top: 1.5rem;
}

.resumeSubsectionHead {
  margin-bottom: 0.25rem;
}

.skillList,
.projectSkills {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.projectList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

.projectItem {
  grid-column: auto / span 1;
  border: 1px solid var(--color-element-background);
  border-radius: var(--border-radius-sm);
}

.projectCard {
  height: 100%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.projectSkills {
  gap: 0.25rem;
  padding-top: 0.5rem;
}

@media screen and (max-width: 768px) {
  .panelFooter {
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid var(--color-element-background);
  }
}
