.chip {
  display: inline-block;
  border: var(--chip-border);
  border-radius: var(--border-radius-sm);
  background: var(--color-chip-background);
  padding: 0.25rem 0.75rem;
  max-width: fit-content;
}

.chip.chipActionable {
  cursor: pointer;
  transition: transform var(--transition-timing) var(--transition-bounce);
}

.chip.chipActionable:hover {
  transform: rotate(3.25deg);
}
