.inlineLink {
  position: relative;
  display: inline-block;
}

.default {
  color: var(--color-text-secondary);
  transition: color var(--transition-timing) var(--transition-ease);
}

.highlight,
.default:hover {
  color: var(--color-link-blue);
}

.highlight:hover {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-skip-ink: none;
}
