.section {
  max-width: 100%;
}

.externalLinkList {
  display: flex;
  gap: 0.5rem;
  margin-block: 1rem;
}

.listCardWrapper {
  padding-top: 2rem;
  border-top: 1px solid var(--color-element-background);
}

.sectionWrapper .section :is(h1, h2, h3, h4, h5, h6) + p {
  margin-top: 0.33rem;
}
