.section {
  max-width: 100%;
}

.linkList,
.linkListBottom {
  display: flex;
  gap: 0.5rem;
  margin-block: 1rem;
  padding-bottom: 1rem;
  border-bottom: var(--element-border);
}

.linkListBottom {
  border-bottom: none;
  border-top: var(--element-border);
  padding-block: 1rem;
}

.sectionWrapper .section :is(h1, h2, h3, h4, h5, h6) + p {
  margin-top: 0.33rem;
}

.projectShowcase {
  width: 100%;
  aspect-ratio: 4/3;
  margin-block: 1rem;
  background: var(--color-element-background);
  border: var(--element-border);
  border-radius: var(--border-radius-md);
  overflow: hidden;
}
