.ProjectSummaryCard {
  cursor: pointer;
  width: 100%;
}

.ProjectSummaryCard + .ProjectSummaryCard {
  margin-top: 4rem;
}

.projectImageWrapper {
  width: 100%;
  aspect-ratio: 16/9;
  position: relative;
  border-radius: var(--border-radius-sm);
  overflow: hidden;
  margin-block: 1rem 0.5rem;
}

.projectImage {
  transition: scale var(--transition-timing) var(--transition-ease);
}

.projectImageWrapper:hover .projectImage {
  scale: 1.05;
}

.chipList {
  display: flex;
  gap: 0.5rem;
}
