.ProjectSummaryCard {
  cursor: pointer;
  width: 100%;
}

.ProjectSummaryCard + .ProjectSummaryCard {
  margin-top: 4rem;
}

.projectImageWrapper {
  width: 100%;
  aspect-ratio: 16/9;
  position: relative;
  border-radius: calc(var(--border-radius-sm) / 2);
  overflow: hidden;
  margin-block: 1rem 1rem;
}

.projectImage {
  transition: scale 150ms ease-in-out;
}

.projectImageWrapper:hover .projectImage {
  scale: 1.05;
}

.chipList {
  display: flex;
  gap: 0.5rem;
}
